@import '~antd/lib/style/themes/default.less';

.toolbar {
  margin-top: 0px;
  margin-bottom: 1px;
}

.toolbarLeftBtn {
  margin-left: -12px;
  bottom: 1px;
}

.toolbarLeftHighbtn {
  float: left;
  border: 0;
  margin-left: -13px;
  margin-bottom: 1px;
}
.toolbarLeftHighbtn button {
  bottom: -3px;
}

.toolbarRight {
  position: absolute;
  bottom: 0;
  right: 0;
}

.contentBatchRemove {
  position: relative;
  top: -50px;
  float: left;
}

.advancedSearchBtn {
  float: right;
}

.advancedSearchFormItem div{
  margin-bottom: 0px;
}
